/* body{
    background-color: red;
} */
.container{
    display: flex;
    position: relative;
    height: 100vh;
   
}
.div1,.div2,.div3{
    width: 10vw;
    height: 10vh;
}

.div1{
    background-color: red;
}
.div2{
    background-color: yellow;
 position: absolute;
    top: 0;
  
}
.div3{
    background-color: pink;
}